<h2>Remove a Stylist From This Salon</h2>
  <form action="/" method="post">
    <label for="id">Stylist name</label>
    <select id="id" name="id" type="text">
      #foreach($stylist in $stylists)
        <option value="$stylist.getId()">$stylist.getName()</option>
      #end
    </select>
    <input id="id" name="id" type="text">
    <button type="submit" class="btn btn-danger">Submit</button>
  </form>
