<!DOCTYPE html>
<html>
  <head>
    <title>Get a Haircut!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>GET A HAIRCUT!</h1>
      <h2>(& other hair services)</h2>

      <hr>
      <hr>

      #parse( $template )

    </div>

  </body>
</html>
