<!DOCTYPE html>
<html>
  <head>
    <title>Get a Haircut!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
  </head>
  <body>
    <div class="container">
      <div id="wrapper">
        <a href="/">
          <h1>GET A HAIRCUT!</h1>
          <h2>(& other hair services)</h2>
        </a>


        <hr>

        #parse( $template )
        
      </div>

    </div>

  </body>
</html>
