<div><h3>ADD A NEW STYLIST</h3></div>

<div class="row">
  <div class="col-md-8">
    <form action="/" method="post">
      <label for="name">Stylist name (First Last, e.g. John Smith)</label>
      <input id="name" name="name" type="text">
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>

  <div class="col-md-4 pull-right">
    <a href="/" class="btn btn-primary">Home</a>
  </div>
</div>
